.pageContent {
  margin-left: 2rem;
  margin-top: 2rem;

  h2 {
    text-align: center;
  }
}

.pokemons {
  display: flex;
  flex-wrap: wrap;
}

.pokemonContainer {
  list-style: none;
  margin-top: 1rem;
  margin-right: 1rem;
  // cursor: pointer;
}

.pokemonContent {
  width: 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;

  border-radius: 15px;

  img {
    width: 8rem;
    margin-top: 0.5rem;
  }

  strong {
    margin: 0.5rem 0;
  }
}